.header {
    margin-inline: auto;
    position: fixed;
    left: 21%;
    top: 20px;

    span:first-child {
        color: var(--text-clr);
    }

    span {
        font-size: 3em;
    }

    span:last-child {
        background: var(--primary-clr);
        background-clip: text;
        color: transparent;
    }
}